::ng-deep .post-title {
    display: inline;
    text-align: center;
    font-size: 1.5rem;
}

::ng-deep markdown li>p {
    margin: 0;
    display: inline-block;
}

.reading-time {
    background-color: rgba(225, 241, 246, 0.56);
    border-bottom: none;
    margin: 0;
    font-size: 0.4rem;
    line-height: 0.15rem;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.read-time {
    margin-left: 0.3rem;
}

::ng-deep .title-container {
    text-align: center;
}

::ng-deep .post-header-img {
    width: 14rem;
    margin: 0 auto;
    display: flex;
    max-width: 100%;
}

::ng-deep img {
    max-width: 100%;
}

:host ::ng-deep * {
    font-family: 'Montserrat', sans-serif !important;
}

@media (max-width: 575px) {
    .read-time {
        width: 100%;
    }

    .social-share {
        width: 100%;
        display: inline-block;
        margin-top: 0.5rem;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .read-time {
        width: 100%;
    }
    
    .social-share {
        width: 100%;
        display: inline-block;
        margin-top: 0.5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .title-image {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    .title-image-container {
        position: relative;
    }

    .post-title {
        font-size: 1rem;
    }

    .read-time {
        width: 100%;
    }
    
    .social-share {
        width: 100%;
        display: inline-block;
        margin-top: 0.5rem;
    }
}

@media (min-width: 992px)  and (max-width: 1199px) {
    .title-image {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    .title-image-container {
        position: relative;
    }

    .post-title {
        font-size: 1.5rem;
    }

    .read-time {
        position: absolute;
        left: 0.15rem;
        top: 0.25rem;
    }
    
    .social-share {
        position: absolute;
        right: 0.15rem;
        top: 0;
    }
}

@media (min-width: 1200px) {
    .title-image {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    .title-image-container {
        position: relative;
    }

    .post-title {
        font-size: 1.5rem;
    }

    .read-time {
        position: absolute;
        left: 0.15rem;
        top: 0.25rem;
    }
    
    .social-share {
        position: absolute;
        right: 0.15rem;
        top: 0;
    }
}