<div *ngFor="let post of postsData">
    <div class="card">
        <div class="card-header">
                <h1><a [routerLink]="['/post', post.name]">{{ post.title}}</a></h1>
                <span class="date-span">
                        {{ post.date | date: 'short' }}  <clr-icon shape="calendar"></clr-icon>
                </span>
        </div>
        <div class="card-block">
                <div class="card-text">
                        <markdown [data]="post.contents" lineNumbers></markdown>
                </div>
                <div class="tags">
                        <ul class="list-unstyled">
                                <span class="label label-info" *ngFor="let tag of post.tags">
                                        <a [routerLink]="['/tags', tag]">{{ tag }}</a>
                                </span>
                                </ul>   
                </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-link" [routerLink]="['/post', post.name]">Read the article</button>
            </div>
    </div>
</div>
